* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    max-width: 100%;
}

header{
    background-color:#000;
    color: #fff;
}
.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
    display: flex;
}

ul li{
margin-left: 10px;
}

nav a {
text-decoration: none;
color: #fff;
}

#hero {
height: 600px;
background-image: url(../images/hands-typing.jpg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;

display: flex;
justify-content: center;
align-items: center;
filter: grayscale(70%);
}

#hero h1{
    max-width: 60%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 2px #000;
}

#about-me .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
#about-me p{
    text-align: left;
    padding: 10px;
}

#services{
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}

#services p{
    text-align: left;
}


#services .wrapper div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
#services article {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

#services a:link, #services a:visited {
display: inline-block;
background-color: #000;
color: #fff;
text-decoration: none;
border: 2px solid #000;
border-radius: 4px;

margin-top: auto;
padding: 15px;
}
#services a:hover, #services a:focus{
    background-color: #fff;
    color: #000;
}
#services article p {
    padding-bottom: 2em;
}
.grid-1 article p{
margin-bottom: 2rem;
}

 #work {
     padding: 2rem;
    }
 #work h2, p{
     max-width: 900px;
     text-align: center;
     margin: auto;
    }
    #work p {
        padding: 1rem;
    }
    .grid{
        display: grid;
        grid-template-columns:repeat(6,1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "pic1 pic1 pic1 pic2 pic2 pic2"
        "pic3 pic3 pic4 pic4 pic5 pic5"
        ;
    }
.grid :nth-child(1){
    grid-area: pic1;
}
.grid :nth-child(2){
    grid-area: pic2;
}
.grid :nth-child(3){
    grid-area: pic3;
}
.grid :nth-child(4){
    grid-area: pic4;
}

.grid :nth-child(5){
    grid-area: pic5;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}